// Clases de utilidad para texto
.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

// Clases de utilidad para fondos
.bg-surface {
  background-color: var(--surface-color) !important;
}

.bg-primary {
  background-color: map-get(map-get($colors, primary), 500) !important;
  color: #ffffff !important;
}

// Clases de utilidad para bordes
.border {
  border: 1px solid var(--border-color) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color) !important;
}
