<header class="header">
    <div class="header__logo">
      <h1 class="header__title">CashFlow</h1>
    </div>
    <div class="header__actions">
      <button
        (click)="toggleTheme()"
        class="header__theme-toggle"
        aria-label="Toggle Theme"
      >
        <ng-container *ngIf="isDarkMode; else lightMode">
          <div class="theme-icon theme-icon--dark"></div>
        </ng-container>
        <ng-template #lightMode>
          <div class="theme-icon theme-icon--light"></div>
        </ng-template>
      </button>

      <button *ngIf="isAuthenticated"
              mat-icon-button
              (click)="logout()"
              aria-label="Cerrar sesión">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </header>
